body {
  color: black;
  font-size: 20px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: "Lora", serif;
  margin: 0;
  background-color: white;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1707343844152-6d33a0bb32c3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
  background-size: cover;
  color: red;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: "Lora", serif;
}

.container {
  margin: 50px auto;
  max-width: 50px auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.banner h1 {
  font-size: 30px;
}

h1 {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.banner p {
  font-style: italic;
  font-weight: lighter;
}

p {
  margin: auto;
}

@media(max-width: 992px) {
  .container {
    width: 576px;
  }
  .container {
    width: 768px
  }
  .container {
    width: 992px
  }
  .container {
    width: 1200px
  }
}

a {
  color: red;
  text-decoration: none;
  background-image: linear-gradient;
}

a:hover {
  text-decoration: underline;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5));
}
